<div id="wrapper">
 <div class="slider-wrapper theme-default">
  <div class="ribbon"></div>
  <div id="slider" class="ramblingSlider">
	   <%= image_tag "comparativo-bianchi-solobici.jpg" %>
	   <%= image_tag "Coluer2baja.jpg" %>
	   <%= image_tag "images.jpeg" %>
	   <%= image_tag "Mondraker1baja.jpg" %>
	   <%= image_tag "pag29.jpg" %>
	   <%= image_tag "20111020193234_0.jpg" %>
	   <%= image_tag "Andreu_Lacondeguy_con_Mondraker_1_foto2_.jpg" %>
	   <%= image_tag "andreu lacondeguy_content.jpg" %>
  </div>
 </div>
</div>

<script>
  $(window).load(function(){
    $('#slider').ramblingSlider();
  });
</script>
