<p id="notice"><%= notice %></p>

<%= image_tag @brand.logo.url(:thumb) %>
<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>History:</strong>
  <%= @brand.history %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @brand.localizacion %>
</p>
<!-- con esto metes los botones que no quieras que token dentro y te saldran solo cuando estas logueado-->
<% if !current_user.nil?%>
<%= link_to 'Edit', edit_brand_path(@brand) %> |
<% end %>
<%= link_to 'Back', brands_path %>
