  <tbody>
    <% @bikes.each do |bike| %>
    
      <div id="generar">

        <div id="contenido">
          <div id="image"><%= image_tag bike.avatar.url ,:width => 450 %></div>
          <div id="price"><%= bike.price %></div>
          <div id="name"><%= bike.name %></div>
          <div id="description"><%= bike.description %></div>
        </div>

        <div id="confirm">
          <%= link_to 'Show', bike %>
          <% if !current_user.nil? %>
          <%= link_to 'Edit', edit_bike_path(bike) %>
          <%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>

  </tbody>

<br>
<% if !current_user.nil? %>
<%= link_to 'Go back',  brands_path %>
<% end %> 
<%= link_to 'New Bike', new_bike_path %>
<%= will_paginate @bikes %>
