<h1>Listing bikes</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Brand</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= image_tag bike.avatar.url(:thumb) %></td>
        <td><%= bike.name %></td>
        <td><%= bike.description %></td>
        <td><%= bike.price %></td>
        <td><%= bike.brand_id %></td>
        <td><%= link_to 'Show', bike %></td>
        <% if !current_user.nil? %>
        <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <td><%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !current_user.nil? %>
<%= link_to 'Go back',  brands_path %>
<% end %> 
<%= link_to 'New Bike', new_bike_path %>
<%= will_paginate @bikes %>
